  
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: hilwa-fr-tls
spec:
  secretName: secret-hilwa-fr
  issuerRef:
    name: letsencrypt-prod
    kind: Issuer
  commonName: hilwa.fr
  dnsNames:
    - hilwa.fr
    - www.hilwa.fr
  acme:
    config:
      - http01:
          ingressClass: nginx
        domains:
          - hilwa.fr
          - www.hilwa.fr